@model SAS.WEB.Models.ProfileAndSkillsModel

@{
    ViewBag.Title = "Profile";
}
<div class="container">
    <h3>Profile</h3>
    <div class="row">
        <div class="col-md-6">
            @{Html.RenderPartial("_UserProfile", Model.Profile);}
        </div>
        <div class="col-md-6">
            <div class="panel panel-default">
                <div class="panel-heading">Skill set</div>
                <div class="panel-body">
                    @SkillList.PositiveSkillListFor(Model.SkillSet)            
                </div>
            </div>
        </div>
    </div>
</div>


