@using SAS.WEB.Models
@model SkillSetViewModel

<div class="contaner">
    <h3>Skill set</h3>
    <div class="row">
        <div class="col-md-6">
            <div class="panel panel-default">
                <div class="panel-body">
                    @SkillList.PositiveSkillListFor(Model)
                    @if (Model.Categories.Where(c => c.ContainsPositiveSkillGrades == true).Count() == 0)
                    {
                        <p>You have not rate your skills yet. Click <b><span class="fa fa-wrench"></span> Edit</b> to rate your skills!</p>
                    }
                </div>
            </div>
            <p><a class="btn btn-default" href="@Url.Action("EditSkillSet", "SkillSet")"><span class="fa fa-wrench"></span> Edit</a></p>
        </div>
    </div>
</div>