@{
    ViewBag.Title = "Tools";
}

<div class="container">
    <h3>Tools</h3>
    <div class="row">
        @if (Request.IsAuthenticated && User.IsInRole("manager"))
        {
            <div class="col-md-6">
                <div class="panel panel-default">
                    <div class="panel-heading">Manager</div>
                    <div class="panel-body">
                        <a class="btn btn-default" href="/Tools/CreateCategory">Create category</a>
                        <a class="btn btn-default" href="/Tools/CreateSkill">Create skill</a>
                    </div>
                </div>
            </div>
        }
        @if (Request.IsAuthenticated && User.IsInRole("administrator"))
        {
            <div class="col-md-6">
                <div class="panel panel-default">
                    <div class="panel-heading">Administrator</div>
                    <div class="panel-body">
                        <a class="btn btn-default" href="/Tools/AllUsers"><span class="fa fa-group"></span> Get list of users</a>
                    </div>
                    </div>
                </div>
        }
    </div>
</div>
